@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));


:root {
    ---color-body-bg : whitesmoke;
    ---color-text: black;
    ---color-text-light:#313131;
    ---color-text-xlight: #4b4b4b;
    ---color-bg: white;
    ---color-border:#d1d5dc;
    ---color-input-border: darkgray;
    ---color-input-b-focus:black;
    ---color-input-bg-:white;
    ---color-placeholder:grey;
    ---color-link : #5c5c5c;
    ---colo-link-hover:#3f3f3f;
    ---color-nav-bg: white;
    ---color-shadow:lightgray;

    /* msg-variables-alert */
    --color-success-bg: #e6ffed;
    --color-success-text: #107c41;

    --color-error-bg: #ffeaea;
    --color-error-text: #d32f2f;

     /* quiz options border variables  */
    --border-default: #d1d5db;   /* gray-300 */
    --border-hover: #3b82f6;     /* blue-500 */
    --border-selected: #2563eb;  /* blue-600 */
    --border-correct: #10b981;   /* green-500 */
    --border-incorrect: #ef4444; /* red-500 */
    --border-disabled: #9ca3af;  /* gray-400 */

    /* quiz cared button */
    --color-qbtn-bg:#e5e7eb;
    --color-qbtn-txt:white;
    --color-qbtn-hover-bg:#d1d4db;

    /* quiz card skel */
    ---color-qsklbg: #ffffff;
    ---color-qsklbg-light: #e5e7eb;
    
    --color-qskl-text: #111;
    --color-qskl-text-light: #555;
}

.dark {
    ---color-body-bg : #1d1d1d;
    ---color-text : whitesmoke;
    ---color-text-light:lightgray;
    ---color-text-xlight: darkgray;
    ---color-bg:#161616;
    ---color-border:#181e21;
    ---color-input-border: #5c5c5c;
    ---color-input-bg:transparent;
    ---color-placeholder:darkgray;
    ---color-link: darkgray;
    ---color-link-hover: lightgray;
    ---color-nav-bg:#00000078;
    ---color-shadow:black;

    /* aler-msg-variables */
    --color-success-bg: #1b3c2f;
    --color-success-text: #b9fbc0;

    --color-error-bg: #3d1f1f;
    --color-error-text: #ff8a80;

    /* quiz options border varaibles */
    --border-default: #374151;   /* gray-700 */
    --border-hover: #60a5fa;     /* blue-400 */
    --border-selected: #3b82f6;  /* blue-500 */
    --border-correct: #34d399;   /* green-400 */
    --border-incorrect: #f87171; /* red-400 */
    --border-disabled: #6b7280;  /* gray-500 */

    /* quiz cared button */
    --color-qbtn-bg:#2b2b2b;
    --color-qbtn-txt:white;
    --color-qbtn-hover-bg:#1e1d1d;

    /* quiz card skel */
    ---color-qsklbg: #1c1c1c;
    ---color-qsklbg-light: #2a2a2a;
    
    --color-qskl-text: #f5f5f5;
    --color-qskl-text-light: #ccc;

    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Invert icon color in dark mode */
        cursor: pointer;
    }
}